<div class="forgot-wrap">
    <div fxLayout="row">
        <div class="forgot-left" fxFlex.md="65" fxFlex.gt-md="65" fxFlex.lt-md="100" fxHide.lt-md fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="center center">
                <img src="./../../assets/login.svg" alt="forgot backgrounf" class="forgot-bg" />
            </div>
        </div>
        <div class="forgot-right" fxFlex.md="35" fxFlex.gt-md="35" fxFlex.lt-md="100" fxLayout="row" fxLayoutAlign="center center">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center stretch">
                <div fxFlex align="left">
                    <img src="./../../assets/logo-main.svg" alt="app-logo" class="app-logo" />
                </div>
                <div class="header" fxLayout="column" align="left">
                    <div>
                        <img src="../../assets/login-line.svg" align="left">
                    </div>
                    <h2>
                        Reset Password
                    </h2>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Your Email</mat-label>
                    <input type="email" matInput placeholder="Your e-mail here" formControlName="userName" required />
                    <mat-icon matSuffix>alternate_email</mat-icon>
                    <mat-error *ngIf="isFieldInvalid('userName')">
                        Please fill your user email
                    </mat-error>
                </mat-form-field>

                <div align="right">
                    <button mat-button class="primary-button find-acc" type="submit">
          Find Account
          <mat-icon> login</mat-icon>
        </button>
                </div>
                <div class="powered-by-wrapper" align="right">
                    <img src="./../../assets/powered-by-logo.svg" alt="login-bg" class="powered-by" />
                </div>
            </form>
        </div>
    </div>
</div>