<div fxLayout="row" class="side-menu-right-drawer" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign=" center">

        <div class="shortname">
            {{data?.Contact_Name | nameFilter}}
        </div>
        <div>
            <h5>
                {{data?.Contact_Name | titlecase}}
            </h5>
        </div>
    </div>
</div>
<div fxLayout="row" class="side-menu-right-drawer-detail">
    <div class="margin-top-div">
        <div fxLayout="row">
            <div class="right-drawer-about-th">
                <h6>
                    Email Id
                </h6>
            </div>
            <div class="right-drawer-about-td">
                <h6>{{data?.Contact_Email }}</h6>
            </div>
        </div>
        <div fxLayout="row" *ngIf="data?.Tenant_ID?.Contact_Name">
            <div class="right-drawer-about-th">
                <h6>
                    Tenent
                </h6>
            </div>
            <div class="right-drawer-about-td">
                <h6>
                    {{data?.Tenant_ID?.Contact_Name }}
                </h6>
            </div>
        </div>
        <div fxLayout="row">
            <div class="right-drawer-about-th">
                <h6>
                    Role
                </h6>
            </div>
            <div class="right-drawer-about-td">
                <h6>
                    {{data?.Access_Type |roleName }}
                </h6>
            </div>
        </div>
        <div fxLayout="row">
            <div class="right-drawer-about-th">
                <h6>
                    Created On
                </h6>
            </div>
            <div class="right-drawer-about-td">
                <h6>
                    {{data?.createdAt | date: 'dd/MM/yyyy' }}
                </h6>
            </div>
        </div>
        <div fxLayout="row" *ngIf="data?.Tenant_ID?.Date_Expiry_Sand">
            <div class="right-drawer-about-th">
                <h6>
                    Expry Date
                </h6>
            </div>
            <div class="right-drawer-about-td">
                <h6>
                    {{data?.Tenant_ID?.Date_Expiry_Sand | date: 'dd/MM/yyyy' }}
                </h6>
            </div>
        </div>
        <!-- <div fxLayout="row">
				<div class="right-drawer-about-th">
					<h6>
						Created By
					</h6>
				</div>
				<div class="right-drawer-about-td">
					<h6>
							Vilison

					</h6>
				</div>
			</div> -->
    </div>
</div>
<div class="sticky-bottom-bar">
            <div class="button-wrap">
              <button mat-button type="button" class="primary-button" (click)="changePassword()" >
                Change Password
              </button>
            </div>
          </div>
