.api-keys-wrap {
    padding: 20px;
    mat-form-field {
        margin-right: 12px;
    }
    .section {
        padding: 0 28px;
    }
    mat-card {
        margin-bottom: 28px;
        border-left: 12px solid #21b371;
        box-shadow: 5px 6px 12px 0px rgb(228 228 228) !important;
        .top {
            margin-bottom: 28px;
            .key-wrapper {
                font-size: 16px;
                font-weight: 500;
                color: #333333;
                .api-key-value {
                    font-size: 20px;
                    font-weight: 500;
                    color: #37b97e;
                }
            }
        }
        .data-wrap {
            margin-bottom: 8px;
            padding-right: 8px;
            .title {
                font-weight: 500;
                color: #b1b1b1;
                font-size: 16px;
            }
            .value {
                font-size: 16px;
                color: #333333;
            }
        }
    }
}
