.api-keys-wrap {
    padding: 20px;
    mat-form-field {
        margin-right: 12px;
    }
    
    .section {
        padding: 0 28px;
    }
    mat-card {
        margin-bottom: 28px;
        border-left: 12px solid #21b371;
        box-shadow: 5px 6px 12px 0px rgb(228 228 228) !important;
        .top {
            margin-bottom: 28px;
            .key-wrapper {
                font-size: 16px;
                font-weight: 500;
                color: #333333;
                .api-key-value {
                    font-size: 20px;
                    font-weight: 500;
                    color: #37b97e;
                }
            }
        }
        .data-wrap {
            margin-bottom: 8px;
            padding-right: 8px;
            .title {
                font-weight: 500;
                color: #b1b1b1;
                font-size: 16px;
            }
            .value {
                font-size: 16px;
                color: #333333;
            }
        }
    }
}
img.noDataFound {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

@media only screen and (min-width: 1441px) and (max-width: 1600px) {
    .api-keys-wrap{
        button.mat-focus-indicator {
            font-size: 12px;
            line-height: 28px;
        }
        mat-card {
            .top{
                .key-wrapper {
                    font-size: 12px;
                    .api-key-value {
                        font-size: 12px;
                    }
                } 
                
            }
            .data-wrap {
                .title {
                   
                    font-size: 12px;
                }
                .value {
                    font-size: 12px;
                    
                }
            }
        }
        
    } 

}

@media only screen and (min-width: 700px) and (max-width: 1366px){
    .api-keys-wrap{
        button.mat-focus-indicator {
            font-size: 12px;
            line-height: 28px;
        }
        mat-card {
            .top{
                .key-wrapper {
                    font-size: 12px;
                    .api-key-value {
                        font-size: 12px;
                    }
                } 
                
            }
            .data-wrap {
                .title {
                   
                    font-size: 12px;
                }
                .value {
                    font-size: 12px;
                    
                }
            }
        }
        
    } 
   
}
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
    .api-keys-wrap{
        button.mat-focus-indicator {
            font-size: 12px;
            line-height: 28px;
        }
        mat-card {
            .top{
                .key-wrapper {
                    font-size: 12px;
                    .api-key-value {
                        font-size: 12px;
                    }
                } 
                
            }
            .data-wrap {
                .title {
                   
                    font-size: 12px;
                }
                .value {
                    font-size: 12px;
                    
                }
            }
        }
        
    } 

}
@media only screen and (min-width: 800px) and (max-width: 1536px) {
    .api-keys-wrap{
        button.mat-focus-indicator {
            font-size: 12px;
            line-height: 28px;
        }
        mat-card {
            .top{
                .key-wrapper {
                    font-size: 12px;
                    .api-key-value {
                        font-size: 12px;
                    }
                } 
                
            }
            .data-wrap {
                .title {
                   
                    font-size: 12px;
                }
                .value {
                    font-size: 12px;
                    
                }
            }
        }
        
    } 

}




@media only screen and (min-width: 800px) and (max-width: 1280px) {

}


@media only screen and (min-width: 768px) and (max-width: 991px) {
 
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (max-width: 479px) {
   
}

