<mat-drawer-container autosize>

  <mat-drawer-content>
    <mat-toolbar>
  <span>Developer Guide</span>
</mat-toolbar>
<div>
    <div class="layout-Left" fxLayout="row wrap" fxFlex="75" fxFlex.gt-xs="75" fxFlex.gt-sm="75" fxFlex.gt-sm="75" fxFlex.gt-md="75" >
      <div fxLayout="row" fxFlex="100">
        <h1 class="headling">Getting Started</h1>
      </div>
      <div fxLayout="row" fxFlex="100">
        <p >This document guides to integrate Flexverify APIs to client applications.  </p>
      </div>
        <div class="note"  fxLayout="row" fxFlex="100">

      <p class="p-tag"> <span class="material-icons">grade
        </span> Note : api-key and sdk-key are available in flexverify console Settings page. </p>
      </div>
      <div fxLayout="row" fxFlex="100">
        <h1 class="headling">Generate Verification Url</h1>
      </div>
      <div class="generateKyc" fxLayout="row" fxFlex="100">
        <ul type='none'>
          <li *ngFor="let i of generateKycApp">{{i}}</li>
        </ul>
      </div>
       <div fxLayout="row" fxFlex="100">
        <h1 class="headling">Get Scan Details</h1>
      </div>
      <!-- <div fxLayout="row" fxFlex="100">
      </div> -->

      <div class="generateKyc"  fxLayout="row" fxFlex="100">
        <ul type='none'>
          <li  *ngFor="let i of getKycApp">{{i}}</li>
        </ul>
      </div>
    </div>
    <div class="layout-Right" fxLayout="row wrap" fxFlex="25" fxFlex.gt-xs="25" fxFlex.gt-sm="25" fxFlex.gt-sm="25" fxFlex.gt-md="25">
      <div class="roundex-box" fxLayout="row" fxFlex="100" *ngIf="tab.length>0">
        <ul class="rounded-ul" type='none'>
          <li class="rounded-box-list"><p class="rounded-select">{{tab[0]}}</p></li>
          <mat-divider></mat-divider>
          <li class="rounded-box-list"*ngFor="let i of tab;let j=index" [ngClass]="{'active': selectedItem == i}" (click)="selecteItem(i)"><p class="rounded-select" *ngIf="j!==0">{{i}}</p>
            <mat-divider></mat-divider>
          </li>

        </ul>
      </div>
    </div>
</div>

  </mat-drawer-content>

</mat-drawer-container>
