<mat-card>
  <form class="example-form">
    <div fxLayout="row wrap">
      <mat-card-content
        fxLayout="row wrap"
        fxLayoutAlign="space-between center"
      >
        <div
          fxFlex="100"
          class="button-bar"
          fxLayout="row wrap"
          fxLayoutAlign="center center"
        >
          <span class="textcenter"
            >Do you want to {{(tenentData?.status==='suspended')?'Unblock':'Block'}} <span class="name">{{ tenentData?.Contact_Name}}</span></span
          >
        </div>
        <!-- <mat-card-content> -->

        <!-- </mat-card-title> -->
      </mat-card-content>

      <div
        fxFlex="100"
        class="button-bar"
        fxLayout="row wrap"
        fxLayoutAlign="center center"
      >
        <button mat-stroked-button type="button" (click)="clear()">
          cancel
        </button>
        <button
          mat-button
          class="primary-button"
          type="button"
          (click)="blockTenent()"
        >
          confirm
        </button>
      </div>
    </div>
  </form>
</mat-card>
