.document-wrap {
    padding: 20px;

    .mat-table {
        .mat-cell {
            padding: 12px 12px 12px 0;
            &:first-of-type {
                padding-left: 24px;
            }
            .title {
                font-size: 12px;
                letter-spacing: 0.5px;
            }
            .value {
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.5px;
                margin-top: 4px;
            }
            .data-wrap:nth-child(odd) {
                margin-bottom: 8px;
            }
            .has-icon {
                margin-right: 4px;
                margin-left: -8px;
                mat-icon {
                    display: none;
                    color: #757575;
                    border-radius: 50%;
                    padding: 4px;
                    vertical-align: -webkit-baseline-middle;
                    text-align: center;
                }
            }
        }
        .no-data {
            .mat-cell {
                border: none;
            }
        }
    }

    .status {
        font-size: 14px;
        font-weight: 500;
        padding: 4px 8px;
        border-radius: 4px;
        &.incomplete {
            background: #f1dbdb;
            color: #e04d4d;
            border: 1px solid #e04d4d;
        }
        &.verified {
            background: #e2fff2;
            color: #21b371;
            border: 1px solid #21b371;
        }
        &.inprogress {
            background: #fdfee8;
            color: #ffc107;
            border: 1px solid #ffc107;
        }
        &.rejected {
            background: #f1dbdb;
            color: #f51414;
            border: 1px solid #e04d4d;
        }
        &.submitted {
            background: #e2fff2;
            color: #22d484;
            border: 1px solid #21b371;
        }
    }
}

.matInput {
    background-color: white;
}
.example-container {
    width: 100%;
    height: 100%;
    // margin: 12px;
    // border: 1px solid #555;
}
.example-sidenav {
    width: 20%;
}
img.noDataFound {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}
// .filter-wrap  {
//   margin-top: 30px;
//   // padding-top: 50px;
//   height: 10px;
// }
