<div class="login-wrap"  >
  <div
     class="row"
    
  >
    <div class="login-left" >
      <div >
        <img src="./../../assets/login.svg" alt="login-bg" class="login-bg" />
      </div>
    </div>
    <div class="login-right"  >
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        fxLayout="column"
        fxLayoutAlign="center stretch"
      >
        <div fxFlex >
          <img
            src="./../../assets/logo-main.svg"
            alt="app-logo"
            class="app-logo"
          />
          
        </div>
        <div class="form-div">
          <div class="header" >
            <img src="../../assets/login-line.svg" class="header-img" >
            <h2>
              Welcome
            </h2>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input
              type="email"
              matInput
              placeholder="Email Address"
              formControlName="userName"
              required
            />
            <!-- <mat-icon matSuffix>alternate_email</mat-icon> -->
            <mat-error *ngIf="isFieldInvalid('userName')">
              Please fill your user name
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Your Password here" [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <mat-icon class="visible-pass" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="isFieldInvalid('userName')">
              Please fill your password
            </mat-error>
          </mat-form-field>
          <div class="my-20  row align-item-between w-100"   >
            <div class="w-50">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label text-secondary" for="gridCheck">
  Remember Me
  </label>
            </div>
            </div>
            <div  class="w-50" >
              <button class="forgot-pass" mat-button (click)="forgetPassword()" type="button">
                Forgot Password?
              </button>
            </div>
          </div>
          <div class="row  align-item-end" >
            <button mat-button class="primary-button buttons-login" type="submit"  >
              Login
              <mat-icon>login</mat-icon>
            </button>
          </div>
          <div class="powered-by-wrapper" >
            <img
              src="./../../assets/powered-by-logo.svg"
              alt="login-bg"
              class="powered-by"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
