.login-wrap {
    height: -webkit-fill-available;
    // background: #edffed;
    // mat-card {
    //     background: linear-gradient(90deg, #fff 50%, #fbfbfb 50%);
    // }
    .login-left {
        background: #F7FFFB;
        height:100vh;
        // .app-logo {
        //     width: 140px;
        // }
        .login-bg {
            width: 72%;
    object-fit: contain;
        }
    }
    .login-right {
        // background: #fbfbfb;
        padding: 20px;
        height: 100vh;
        form{
            width: 300px;
        }
        .app-logo {
            width: 200px;
                margin-bottom: 2.5em;
           
        }
        .form-div {
            margin-left: 14px;
        }
        .header {
            font-size: 24px;
            font-weight: 500;
            line-height: 2;
            position: relative;
            margin-bottom: 30px;

            

        }
        .mat-form-field {
            width: 100%;
        }
        img.header-img {
            margin-left: -8.9em;
        }
        label.form-check-label.text-secondary {
            color: gray;
            font-size: 13px !important;
            font-weight: 300;
        }
        .forgot-pass {
            color: gray;
            font-size: 13px;
            font-weight: 300;
            padding:0px;
        }
        .visible-pass {
            color: #888888;
        }
        .mat-button {
            margin: 10px 0;
            width: 45%;
    border-radius: 8px;
            display: flex;
            justify-content: flex-end;
        }.button-login{
            width: 45%;
            display: flex;
            justify-content: flex-end;
            border-radius: 8px;
        }
        .powered-by-wrapper {
            position: absolute;
            bottom: 5px;
            right: 80px;
        }
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
        display: flex;
        position: absolute;
        top: .25em;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        
        border-radius: 10px;
    }
    .mat-label{
        color:gray;
    }
    .mat-form-field-empty.mat-form-field-label{
        color: #8080808f;
    }
    .mat-form-field-outline {
        border: 1px solid #f7f7f7;
        border-radius: 14px;
    }
    @media only screen and (max-width: 959px) {
        .login-left {
            display: none;
        }
        .login-right {
            padding: 20px;
            width: 470px;
        }
    }

    @media only screen and (max-width: 500px) {
        .login-right {
            width: 90%;
        }
    }
    .powered-by-wrapper {
        .powered-by {
            width: 110px;
            // position: absolute;
            right: 20px;
            bottom: 20px;
            margin-top: 20px;
        }
    }
}
// .mat-form-field-flex{
//   border: 5px solid black;
// }
// .mat-form-field-outline {
//   color: white;
//   border: 5px solid;
// }
// .mat-form-field-outline-start, .mat-form-field-outline-end {
  // box-shadow: 5px 10px;
  // border: 5px solid black;
    // border-radius: 0 !important;
// }

