.tenent-list-wrap {
  padding: 20px;
  .user-icon {
    mat-icon {
      font-size: 36px;
      vertical-align: middle;
      height: 36px;
      width: 36px;
      color: #00a185;
      margin-right: 8px;
    }
  }
  .shortname {
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    line-height: 1;
    width: 24px;
    background: #00a185;
    height: 24px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    border: 4px solid #0cdfba;
  }
  .data-wrap {
    .title {
      font-weight: 500;
      color: #b1b1b1;
      font-size: 16px;
    }
    .value {
      font-size: 16px;
      color: #3a3a3a;
    }
    .name {
      color: #3a3a3a;
      font-size: 16px;
      font-weight: 500;
    }
    .email {
      color: #7c7c7c;
      font-size: 14px;
      font-weight: 400;
    }
  }
  td {
    &.mat-cell {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
  .status {
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    border-radius: 4px;
    width: 100px;
    text-align: center;
    &.expired {
      background: #f1dbdb;
      color: #e04d4d;
      border: 1px solid #e04d4d;
    }
    &.active {
      background: #e2fff2;
      color: #21b371;
      border: 1px solid #21b371;
    }
    &.created {
      background: #fdfee8;
      color: #ffc107;
      border: 1px solid #ffc107;
    }
    &.suspended {
      background: #f1dbdb;
      color: #e04d4d;
      border: 1px solid #e04d4d;
    }
  }
}
img.noDataFound {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}
 
@media only screen and (min-width: 1441px) and (max-width: 1600px) {

  .tenent-list-wrap{
    .shortname {
      width: 20px;
      height: 20px;
      
  }
  .status {
    font-size: 12px;
    padding: 4px;
  }
    .data-wrap{
      .value {
        font-size: 12px;
        color: #3a3a3a;
    }
    .name {
      color: #3a3a3a;
      font-size: 12px;
      font-weight: 500;
    }
  } 
}
}

@media only screen and (min-width: 700px) and (max-width: 1366px){
  .tenent-list-wrap{
    .shortname {
      width: 20px;
      height: 20px;
      
  }
  .status {
    font-size: 12px;
    padding: 4px;
  }
    .data-wrap{
      .value {
        font-size: 12px;
        color: #3a3a3a;
    }
    .name {
      color: #3a3a3a;
      font-size: 12px;
      font-weight: 500;
    }
  } 
}
}
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  .tenent-list-wrap{
    .shortname {
      width: 20px;
      height: 20px;
      
  }
  .status {
    font-size: 12px;
    padding: 4px;
  }
    .data-wrap{
      .value {
        font-size: 12px;
        color: #3a3a3a;
    }
    .name {
      color: #3a3a3a;
      font-size: 12px;
      font-weight: 500;
    }
  } 
} 

}
@media only screen and (min-width: 800px) and (max-width: 1536px) {
  .tenent-list-wrap{
    .shortname {
      width: 20px;
      height: 20px;
      
  }
  .status {
    font-size: 12px;
    padding: 4px;
  }
    .data-wrap{
      .value {
        font-size: 12px;
        color: #3a3a3a;
    }
    .name {
      color: #3a3a3a;
      font-size: 12px;
      font-weight: 500;
    }
  } 
}

}




@media only screen and (min-width: 800px) and (max-width: 1280px) {
  .tenent-list-wrap{
    .shortname {
      width: 20px;
      height: 20px;
      
  }
  .status {
    font-size: 12px;
    padding: 4px;
  }
    .data-wrap{
      .value {
        font-size: 12px;
        color: #3a3a3a;
    }
    .name {
      color: #3a3a3a;
      font-size: 12px;
      font-weight: 500;
    }
  } 
}
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
 
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (max-width: 479px) {
}

