.settings-wrap{
  .tiles-wrap{
    .tabView{
      list-style-type: none;
      width:100%;
      list-style: none;
      padding: 25px;
      // border: 1px solid #E0E0E0;
      box-sizing: border-box;
      border-radius: 10px;
    }
  }
}
