
<div class="login-wrap">
  <div fxLayout="row"  >
    <div  class="login-left" fxHide fxShow.gt-sm fxShow.gt-md fxFlex="65">
        <img src="./../../assets/login.svg" alt="login-bg" class="login-bg" />
    </div>
    <div class="login-right" fxFlex="35"  fxFlex.gt-xs="100%" fxFlex.gt-sm="100%" fxFlex.gt-sm="50%" fxFlex.gt-md="35%">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div>
                    <img src="./../../assets/logo-main.svg" alt="app-logo" class="app-logo" />

                </div>
                <div class="form-div">
                    <div class="header">
                        <img src="../../assets/login-line.svg" class="header-img">
                        <h2>
                            Change Your Password
                        </h2>
                    </div>
                    <mat-form-field appearance="outline">
                    <mat-label>Enter Your Current Password</mat-label>
                    <input type="text" matInput placeholder="Enter Your Current Password" formControlName="currentPassword" required />

                    <mat-error *ngIf="isFieldInvalid('currentPassword')">
                        Please fill your Current Password
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Your New Password</mat-label>
                    <input type="text" matInput placeholder="Enter Your New Password" formControlName="newPassword" required />

                    <mat-error *ngIf="isFieldInvalid('newPassword')">
                        Please fill your New Password
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Your Confirm Password</mat-label>
                    <input type="text" matInput placeholder="Enter Your Confirm Password" formControlName="confirmPassword" required />

                    <mat-error *ngIf="isFieldInvalid('confirmPassword')">
                        Please fill your Confirm Password
                    </mat-error>
                </mat-form-field>

                    <div class="row  align-item-end">
                        <button mat-button class="primary-button buttons-login" >
              Submit
              <span class="material-icons">
                login
                </span>
            </button>
                    </div>
                    <div class="powered-by-wrapper">
                        <img src="./../../assets/powered-by-logo.svg" alt="login-bg" class="powered-by" />
                    </div>
                </div>
            </form>
      <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center stretch">
                <div >
                    <img src="./../../assets/logo-main.svg" alt="app-logo" class="app-logo" />
                </div>
                <div class="header">
                    <img src="../../assets/login-line.svg" class="header-img">
                    <h2>
                        Change Your Password
                    </h2>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Your Current Password</mat-label>
                    <input type="email" matInput placeholder="Enter Your Current Password" formControlName="currentPassword" required />

                    <mat-error *ngIf="isFieldInvalid('currentPassword')">
                        Please fill your user Password
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Your New Password</mat-label>
                    <input type="email" matInput placeholder="Enter Your New Password" formControlName="newPassword" required />

                    <mat-error *ngIf="isFieldInvalid('newPassword')">
                        Please fill your New Password
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Your Confirm Password</mat-label>
                    <input type="email" matInput placeholder="Enter Your Confirm Password" formControlName="confirmPassword" required />

                    <mat-error *ngIf="isFieldInvalid('confirmPassword')">
                        Please fill your Confirm Password
                    </mat-error>
                </mat-form-field>

                <div fxLayout="row" fxFlex="40" align="right" fxLayoutAlign="end center">
                    <button mat-button class="primary-button buttons-login" type="submit">
                    Submit
                    <mat-icon> login</mat-icon>
                  </button>
                </div>
                <div class="powered-by-wrapper" align="right">
                    <img src="./../../assets/powered-by-logo.svg" alt="login-bg" class="powered-by" />
                </div>
            </form> -->
        </div>
  </div>
</div>














<!-- <div class="login-wrap">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxFlex.lt-md="100">
        <div class="login-left" fxFlex fxFlex.md="70" fxFlex.gt-md="70">
            <div fxLayout="column" fxLayoutAlign="center center">
                <img src="./../../assets/login.svg" alt="login-bg" class="login-bg" />
            </div>
        </div>
        <div class="login-right" fxFlex.md="30" fxFlex.gt-md="30" fxLayoutAlign="center center">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center stretch">
                <div fxFlex align="left">
                    <img src="./../../assets/logo-main.svg" alt="app-logo" class="app-logo" />
                </div>
                <div class="header">
                    <img src="../../assets/login-line.svg" class="header-img">
                    <h2>
                        Change Your Password
                    </h2>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Your Current Password</mat-label>
                    <input type="email" matInput placeholder="Enter Your Current Password" formControlName="currentPassword" required />

                    <mat-error *ngIf="isFieldInvalid('currentPassword')">
                        Please fill your user Password
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Your New Password</mat-label>
                    <input type="email" matInput placeholder="Enter Your New Password" formControlName="newPassword" required />

                    <mat-error *ngIf="isFieldInvalid('newPassword')">
                        Please fill your New Password
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Your Confirm Password</mat-label>
                    <input type="email" matInput placeholder="Enter Your Confirm Password" formControlName="confirmPassword" required />

                    <mat-error *ngIf="isFieldInvalid('confirmPassword')">
                        Please fill your Confirm Password
                    </mat-error>
                </mat-form-field>

                <div fxLayout="row" fxFlex="40" align="right" fxLayoutAlign="end center">
                    <button mat-button class="primary-button buttons-login" type="submit">
                    Submit
                    <mat-icon> login</mat-icon>
                  </button>
                </div>
                <div class="powered-by-wrapper" align="right">
                    <img src="./../../assets/powered-by-logo.svg" alt="login-bg" class="powered-by" />
                </div>
            </form>
        </div>
    </div>
</div> -->
