<div fxLayout="row" class="side-menu-right-drawer" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign=" center">

        <div>
            <h5>
                About Flexverify Admin Portal
            </h5>
        </div>
    </div>
</div>
<div fxLayout="row" class="side-menu-about-right-drawer-detail">
    <div class="margin-top-div about-us-box">
        <div fxLayout="row" class="" fxLayoutAlign="space-between end">
            <div class="right-drawer-about-th">
                <h4>Version
                </h4>
            </div>
            <div class="right-drawer-about-td">
                <h4>v1.0.0.2</h4>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row">
            <div class="right-drawer-about-th">
                <h4>
                    Report an issue
                </h4>
            </div>
            <!-- <div class="right-drawer-about-td">
				<h4>

					ICIC Bank

				</h4>
			</div> -->
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row">
            <div class="right-drawer-about-th">
                <h4>
                    Get help with Admin Portal
                </h4>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="right-drawer-about-th">
                <h4>
                    Copyright 2020 FlexM Pte. Ltd.. All rights reserved
                </h4>
            </div>
            <div class="right-drawer-about-td" fxLayout="row" fxLayoutAlign="center">
                <h4>
                    <div><img src="./../../assets/logo-main.svg" alt="app-logo" class="app-logo" /></div>
                </h4>
            </div>
        </div>
        <!--<div fxLayout="row">
			<div class="right-drawer-about-th">
				<h4>
					Expry Date
				</h4>
			</div>
			<div class="right-drawer-about-td">
				<h4>

					01/02/21

				</h4>
			</div>
		</div>
		<div fxLayout="row">
			<div class="right-drawer-about-th">
				<h4>
					Created By
				</h4>
			</div>
			<div class="right-drawer-about-td">
				<h4>

					Vilison

				</h4>
			</div>
		</div> -->
    </div>
</div>
