.rightSidenav {
    width: 500px;
}
    .right-drawer-about-th h6 {
        width: 128px;
        color: #B0B0B0;
        font-weight: 300;
        font-size: 18px !important;
    }
   
    .side-menu-right-drawer {
        padding: 33px 31px;
    }
    
       .side-menu-right-drawer img{
            width:40px;
            
       }
        
       .side-menu-right-drawer h5 {
            margin-bottom: 0px !important;
            padding-left: 10px;
            font-weight: 500 !important;
            font-size: 18px !important;
            line-height: 40px;
        }
        
  


span.material-icons {
    color: #E04D4D;
    font-weight: 500;
    cursor: pointer;
    padding:10px;
    border-radius: 50%;
}
span.material-icons:hover {
    background: #eae8e8;
}
.side-menu-right-drawer-detail {
    padding: 0px 85px;
}
.right-drawer-about-th h6 {
    font-size: 16px !important;
    font-weight: 300;
    color: #B0B0B0 !important;
}
.right-drawer-about-td h6 {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #333333 !important;
}