<div fxLayout="row" class="side-menu-right-drawer" fxLayoutAlign="space-between center">
	<div fxLayout="row" fxLayoutAlign=" center">
		<div>
			<img src="../../assets/v-1.png" alt="">
		</div>
		<div>
			<h5>
				Vilison Gomez
			</h5>
		</div>
	</div>
	<div>
		<span class="material-icons" (click)="toggleRightSidenav1()">
			close
		</span>
	</div>
</div>
<div fxLayout="row" class="side-menu-right-drawer-detail">
	<div class="margin-top-div">
		<div fxLayout="row">
			<div class="right-drawer-about-th">
				<h6>
					Email Id
				</h6>
			</div>
			<div class="right-drawer-about-td">
				<h6>

					Vilison@gmail.com

				</h6>
			</div>
		</div>
		<div fxLayout="row">
			<div class="right-drawer-about-th">
				<h6>
					Tenent
				</h6>
			</div>
			<div class="right-drawer-about-td">
				<h6>

					ICIC Bank

				</h6>
			</div>
		</div>
		<div fxLayout="row">
			<div class="right-drawer-about-th">
				<h6>
					Role
				</h6>
			</div>
			<div class="right-drawer-about-td">
				<h6>

					FlexmOperator

				</h6>
			</div>
		</div>
		<div fxLayout="row">
			<div class="right-drawer-about-th">
				<h6>
					Created On
				</h6>
			</div>
			<div class="right-drawer-about-td">
				<h6>

					11/07/21

				</h6>
			</div>
		</div>
		<div fxLayout="row">
			<div class="right-drawer-about-th">
				<h6>
					Expry Date
				</h6>
			</div>
			<div class="right-drawer-about-td">
				<h6>

					01/02/21

				</h6>
			</div>
		</div>
		<div fxLayout="row">
			<div class="right-drawer-about-th">
				<h6>
					Created By
				</h6>
			</div>
			<div class="right-drawer-about-td">
				<h6>

					Vilison

				</h6>
			</div>
		</div>
	</div>
</div>