mat-sidenav-container {
    height: -webkit-fill-available;
    background: #fff;
    mat-sidenav.left-navigation {
        background: #333333;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        box-shadow: 2px 64px 8px 0 rgba(0, 0, 0, 0.15);
        mat-nav-list {
            &.mat-list-base {
                padding-top: 0;
            }
            .nav-text {
                display: none;
            }
            mat-list-item {
                color: #bebebe;
                &.active {
                    color: #19a968 !important;
                    background: #ffffff;
                }
                color: #757575 !important;
            }
            .mat-list-item:focus {
                background: #ffffff;
            }
        }
        &.folded {
            width: 56px;
        }
        &.unfolded {
            width: 250px;
            mat-nav-list {
                .nav-text {
                    display: block;
                    margin-left: 12px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
        .nav-logo {
            box-shadow: 0px 1px 8px 0 rgba(0, 0, 0, 0.15);
            // border-bottom: 1px solid #cdcdcd;
            margin-bottom: 12px;
            height: 64px;
        }
    }
    mat-sidenav-content {
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        &.unfolded {
            margin-left: 250px !important;
        }
    }
    mat-toolbar {
        box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.15);
    }
}
.sidenav-tooltip {
    font-size: 14px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

@media only screen and (min-width: 1441px) and (max-width: 1600px) {
    mat-sidenav.mat-drawer.mat-sidenav {
        width: 450px;
    }
    .side-menu-about-right-drawer-detail{
        padding:20px
    }
    .right-drawer-about-td img {
        width: 45%;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .right-drawer-about-th h4 {
        font-size: 14px !important;
        font-weight: 400;
        line-height: 46.45px;
        color: #333333 !important;
    }

}

@media only screen and (min-width: 700px) and (max-width: 1366px){
    mat-sidenav.mat-drawer.mat-sidenav {
        width: 450px;
    }
    .side-menu-about-right-drawer-detail{
        padding:20px
    }
    .right-drawer-about-td img {
        width: 45%;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .right-drawer-about-th h4 {
        font-size: 14px !important;
        font-weight: 400;
        line-height: 46.45px;
        color: #333333 !important;
    }
}
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
    mat-sidenav.mat-drawer.mat-sidenav {
        width: 450px;
    }
    .side-menu-about-right-drawer-detail{
        padding:20px
    }
    .right-drawer-about-td img {
        width: 45%;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .right-drawer-about-th h4 {
        font-size: 14px !important;
        font-weight: 400;
        line-height: 46.45px;
        color: #333333 !important;
    }

}
@media only screen and (min-width: 800px) and (max-width: 1536px) {
    mat-sidenav.mat-drawer.mat-sidenav {
        width: 450px;
    }
    .side-menu-about-right-drawer-detail{
        padding:20px
    }
    .right-drawer-about-td img {
        width: 45%;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .right-drawer-about-th h4 {
        font-size: 14px !important;
        font-weight: 400;
        line-height: 46.45px;
        color: #333333 !important;
    }
}




@media only screen and (min-width: 800px) and (max-width: 1280px) {

}


@media only screen and (min-width: 768px) and (max-width: 991px) {
 
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (max-width: 479px) {
   
}

