.user-list-wrap {
  padding: 20px;
  .user-icon {
    mat-icon {
      font-size: 36px;
      vertical-align: middle;
      height: 36px;
      width: 36px;
      color: #00a185;
      margin-right: 8px;
    }
  }

  td {
    &.mat-cell {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
  .status {
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    border-radius: 4px;
    width: 100px;
    text-align: center;
    &.suspended {
      background: #f1dbdb;
      color: #e04d4d;
      border: 1px solid #e04d4d;
    }
    &.active {
      background: #e2fff2;
      color: #21b371;
      border: 1px solid #21b371;
    }
    &.accepted,
    &.invitation {
      background: #fdfee8;
      color: #ffc107;
      border: 1px solid #ffc107;
    }
    // &.invitation {
    //   background: #ebebeb;
    //   color: #949494;
    //   border: 1px solid #949494;
    // }
  }
}
img.noDataFound {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

@media only screen and (min-width: 1441px) and (max-width: 1600px) {
  .right-side-drawer {
    width: 451px;
}
  .user-list-wrap{
    .value {
      font-size: 12px;
  }
  .status {
    font-size: 12px;
    padding: 4px;
}
mat-drawer.mat-drawer {
  width: 450px;
}
    .user-icon{
      mat-icon {
        font-size: 30px;
        vertical-align: middle;
        height: 30px;
        width: 30px;
        color: #00a185;
        margin-right: 8px;
    }
    
    }
  
  } 

}

@media only screen and (min-width: 700px) and (max-width: 1366px){
  .right-side-drawer {
    width: 451px;
}
  .user-list-wrap{
    .value {
      font-size: 12px;
  }
  .status {
    font-size: 12px;
    padding: 4px;
}
mat-drawer.mat-drawer {
  width: 450px;
}
    .user-icon{
      mat-icon {
        font-size: 30px;
        vertical-align: middle;
        height: 30px;
        width: 30px;
        color: #00a185;
        margin-right: 8px;
    }
    
    }
  
  } 
}
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  .right-side-drawer {
    width: 451px;
}
  .user-list-wrap{
    .value {
      font-size: 12px;
  }
  .status {
    font-size: 12px;
    padding: 4px;
}
mat-drawer.mat-drawer {
  width: 450px;
}
    .user-icon{
      mat-icon {
        font-size: 30px;
        vertical-align: middle;
        height: 30px;
        width: 30px;
        color: #00a185;
        margin-right: 8px;
    }
    
    }
  
  } 

}
@media only screen and (min-width: 800px) and (max-width: 1536px) {
  .right-side-drawer {
    width: 451px;
}
  .user-list-wrap{
    .value {
      font-size: 12px;
  }
  .status {
    font-size: 12px;
    padding: 4px;
}
mat-drawer.mat-drawer {
  width: 450px;
}
    .user-icon{
      mat-icon {
        font-size: 30px;
        vertical-align: middle;
        height: 30px;
        width: 30px;
        color: #00a185;
        margin-right: 8px;
    }
    
    }
  
  } 

}




@media only screen and (min-width: 800px) and (max-width: 1280px) {

}


@media only screen and (min-width: 768px) and (max-width: 991px) {
 
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (max-width: 479px) {
   
}

