.reports-wrap {
    padding: 20px;
    .tiles-wrap {
        margin-bottom: 40px;
        .tile {
            height: 156px;
            width: 156px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
            border: 1px solid #21b371;
            margin: 28px;
            &:hover {
                box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.15);
            }
            .material-icons {
                color: #21b371;
                font-size: 28px;
                &.fs-40 {
                    font-size: 40px;
                }
            }
            .title {
                color: #000000;
                font-size: 13px;
                text-align: center;
                margin-top: 20px;
            }
        }
    }
}
@media only screen and (min-width: 1441px) and (max-width: 1600px) {
    .reports-wrap{
        .tiles-wrap
        {
            .title {
                font-size: 12px !important;
            }
        }  
    }

}

@media only screen and (min-width: 700px) and (max-width: 1366px){
    .reports-wrap{
        .tiles-wrap
        {
            .title {
                font-size: 12px !important;
            }
        }  
    }

}
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
    .reports-wrap{
        .tiles-wrap
        {
            .title {
                font-size: 12px !important;
            }
        }  
    }


}
@media only screen and (min-width: 800px) and (max-width: 1536px) {
    .reports-wrap{
        .tiles-wrap
        {
            .title {
                font-size: 12px !important;
            }
        }  
    }


}




@media only screen and (min-width: 800px) and (max-width: 1280px) {
    .reports-wrap{
        .tiles-wrap
        {
            .title {
                font-size: 12px !important;
            }
        }  
    }

}


@media only screen and (min-width: 768px) and (max-width: 991px) {
 
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (max-width: 479px) {
   
}

