<mat-toolbar>
    <span>Dashboard</span>
</mat-toolbar>
<div class="dashboard-wrap">
    <div class="tiles-wrap" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="space-evenly center">
        <div class="tile today" fxFlex>
            <mat-card class="header" fxLayout="column" fxLayoutAlign="center center">
                <div class="count">20</div>
                <div class="title">Today Verfication</div>
            </mat-card>
            <!-- <div class="body" fxLayout="column" fxLayoutAlign="center center">
                <div class="title">Today Verfication</div>
            </div> -->
        </div>
        <div class="tile month" fxFlex>
            <mat-card class="header" fxLayout="column" fxLayoutAlign="center center">
                <div class="count">15</div>
                <div class="title">Month Verfication</div>
            </mat-card>
            <!-- <div class="body" fxLayout="column" fxLayoutAlign="center center">
                <div class="title">Month Verfication</div>
            </div> -->
        </div>
        <div class="tile balance" fxFlex>
            <mat-card class="header" fxLayout="column" fxLayoutAlign="center center">
                <div class="count">80</div>
                <div class="title">Balance SMS</div>
            </mat-card>
            <!-- <div class="body" fxLayout="column" fxLayoutAlign="center center">
                <div class="title">Balance SMS</div>
            </div> -->
        </div>
        <div class="tile verification" fxFlex [routerLink]="['dashboard/verification-url']">
            <mat-card class="header" fxLayout="column" fxLayoutAlign="center center">
                <i class="material-icons">link</i>
                <div class="title">Verfication Url</div>
            </mat-card>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="chart-wrap" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
        <mat-card class="bar-chart">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                responsive="true" maintainAspectRatio="true" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
        </mat-card>
    </div>

    <!-- <mat-divider></mat-divider>
    <div class="link-wrap">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div class="verification-tile" [routerLink]="['dashboard/verification-url']">
                <mat-card class=" header" fxLayout="column" fxLayoutAlign="center center">
                    <i class="material-icons">link</i>
                    <div class="title">Verfication Url</div>
                </mat-card>
            </div>
        </div>
    </div> -->
</div>