<mat-drawer-container autosize>
  <mat-drawer #verificationdrawer class="right-side-drawer" mode="overlay" position='end'>
    <div>
      <mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="header">
        <div>
          Verification url
        </div>
        <div class="header-buttons">
          <button mat-icon-button (click)="verificationdrawer.close()" class="close-button">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </mat-toolbar>
      <app-verification-url></app-verification-url>
    </div>
  </mat-drawer>
  <mat-drawer-content class="header">
    <mat-toolbar>
      <span>Dashboard</span>
    </mat-toolbar>
    <div class="dashboard-wrap">
      <div class="tiles-wrap" fxLayout="row wrap" fxLayoutAlign="start start">
        <mat-card class="tile cursor-pointer" (click)="verificationdrawer.open()" fxLayout="column"
          fxLayoutAlign="end center">
          <i class="material-icons fs-40">link</i>
          <div class="title">Verfication Url</div>
        </mat-card>
        <mat-card class="tile" fxLayout="column" fxLayoutAlign="end center">
          <mat-card-header>
            <mat-card-title><i class="material-icons">check</i></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="count">{{verificationData.todayVerification}}</div>
            <div class="title">Today Verfication</div>
          </mat-card-content>
        </mat-card>
        <mat-card class="tile" fxLayout="column" fxLayoutAlign="end center">
          <mat-card-header>
            <mat-card-title> <i class="material-icons">check</i></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="count">{{verificationData.monthlyVerification}}</div>
            <div class="title">Month Verfication</div>
          </mat-card-content>
        </mat-card>
        <!-- <mat-card class="tile" fxLayout="column" fxLayoutAlign="end center">
          <mat-card-header>
            <mat-card-title> <i class="material-icons">check</i></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="count">80</div>
            <div class="title">Balance SMS</div>
          </mat-card-content>
        </mat-card> -->
      </div>
      <mat-divider></mat-divider>
      <div class="chart-wrap" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
        <mat-card class="bar-chart">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            responsive="true" maintainAspectRatio="true" [legend]="barChartLegend" [chartType]="barChartType">
          </canvas>
        </mat-card>
      </div>

      <!-- <mat-divider></mat-divider>
        <div class="link-wrap">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div class="verification-tile" [routerLink]="['dashboard/verification-url']">
                    <mat-card class=" header" fxLayout="column" fxLayoutAlign="center center">
                        <i class="material-icons">link</i>
                        <div class="title">Verfication Url</div>
                    </mat-card>
                </div>
            </div>
        </div> -->
    </div>
  </mat-drawer-content>
</mat-drawer-container>
