.dashboard-wrap {
    padding: 20px;
    .tiles-wrap {
        margin-bottom: 40px;
        .tile {
            height: 180px;
            border-radius: 10px;
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
            &:hover {
                box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.15);
            }
            &.month {
                .header {
                    background: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
                }
                .body {
                    color: #11998e;
                }
            }
            &.today {
                .header {
                    background: -webkit-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
                }
                .body {
                    color: #ee0979;
                }
            }
            &.balance {
                .header {
                    background: -webkit-linear-gradient(90deg, #45b649 0%, #dce35b 100%);
                }
                .body {
                    color: #45b649;
                }
            }
            .header {
                height: 100%; //120px
                // border-radius: 4px 4px 0 0;
                color: #fff;
                font-weight: 500;
                .count {
                    font-size: 48px;
                    text-align: center;
                    padding: 10px 0 0;
                }
                .title {
                    font-size: 20px;
                    text-align: center;
                    margin-top: 20px;
                }
            }
            // .body {
            //     height: 60px;
            //     .title {
            //         font-size: 16px;
            //         padding: 8px;
            //     }
            // }
        }
    }
    .chart-wrap {
        margin-bottom: 40px;
        margin-top: 40px;
        .bar-chart {
            max-width: 50%;
            width: -webkit-fill-available;
        }
    }
    .link-wrap {
        margin-bottom: 40px;
        margin-top: 40px;
        .verification-tile {
            cursor: pointer;
            border-radius: 10px;
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
            &:hover {
                box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.15);
            }
            .header {
                font-weight: 500;
                //  background: -webkit-linear-gradient(90deg, #21B371 0%, #ff6a00 100%);
                background: #21b371;
                color: #fff;
                .material-icons {
                    font-size: 48px;
                    text-align: center;
                }
                .title {
                    font-size: 16px;
                    text-align: center;
                }
            }
        }
    }
}
