<div class="login-wrap" fxLayout="row" fxLayoutAlign="center center">
  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="center center"
    fxFlex.lt-md="100"
  >
    <div class="login-left" fxFlex fxFlex.md="50" fxFlex.gt-md="65">
      <div fxLayout="column" fxLayoutAlign="center center">
        <img src="./../../assets/login.svg" alt="login-bg" class="login-bg" />
      </div>
    </div>
    <div class="login-right" fxFlex="100" fxFlex.md="50" fxFlex.gt-md="35">
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        fxLayout="column"
        fxLayoutAlign="center stretch"
      >
        <div fxFlex align="center">
          <img
            src="./../../assets/logo-main.svg"
            alt="app-logo"
            class="app-logo"
          />
        </div>
        <div class="header">New Password</div>
        <mat-form-field appearance="outline">
          <mat-label>Enter Your New Password</mat-label>
          <input
            type="email"
            matInput
            placeholder="Your password here"
            formControlName="password"
            required
          />
          <!-- <mat-icon matSuffix>alternate_email</mat-icon> -->
          <mat-error *ngIf="isFieldInvalid('password')">
            Please fill your user password
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter Your confirm password Password</mat-label>
          <input
            type="email"
            matInput
            placeholder="Your confirm password here"
            formControlName="confirmpassword"
            required
          />
          <!-- <mat-icon matSuffix>alternate_email</mat-icon> -->
          <mat-error *ngIf="isFieldInvalid('password')">
            Please fill your confirm password
          </mat-error>
        </mat-form-field>

        <button mat-button class="primary-button" type="submit">
          Set Password
          <mat-icon> login</mat-icon>
        </button>
        <div class="powered-by-wrapper" align="right">
          <img
            src="./../../assets/powered-by-logo.svg"
            alt="login-bg"
            class="powered-by"
          />
        </div>
      </form>
    </div>
  </div>
</div>
