.verification-wrap {
    padding: 20px;
    .aclass {
        img {
            width: 200px;
        }
    }
    .url-wrap {
        .url {
            background: yellow;
            font-size: 16px;
            font-weight: 500;
            padding: 2px 6px;
        }
    }
}
