.verification-wrap {
    padding: 28px;
    .title {
        color: #646464;
        font-size: 16px;
        margin-bottom: 28px;
    }
    .aclass {
        margin: 28px;
        img {
            width: 200px;
        }
    }
    .url-wrap {
        font-size: 16px;
        color: #646464;
        font-weight: 400;
        margin: 12px 0;
        .url {
            font-size: 14px;
            font-weight: 500;
            padding: 2px 6px;
            color: #21b371;
        }
    }
}
@media only screen and (min-width: 1441px) and (max-width: 1600px) {
    .verification-wrap {

        .title {
           
            font-size: 14px;
           
        }
    }

}

@media only screen and (min-width: 700px) and (max-width: 1366px){
    .verification-wrap {

        .title {
           
            font-size: 14px;
           
        }
    }
 
}
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
    .verification-wrap {

        .title {
           
            font-size: 14px;
           
        }
    }
    

}
@media only screen and (min-width: 800px) and (max-width: 1536px) {
    .verification-wrap {

        .title {
           
            font-size: 14px;
           
        }
    }

}




@media only screen and (min-width: 800px) and (max-width: 1280px) {
    .verification-wrap {

        .title {
           
            font-size: 14px;
           
        }
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
 
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (max-width: 479px) {
   
}

