.verification-wrap {
    padding: 28px;
    .title {
        color: #646464;
        font-size: 16px;
        margin-bottom: 28px;
    }
    .aclass {
        margin: 28px;
        img {
            width: 200px;
        }
    }
    .url-wrap {
        font-size: 16px;
        color: #646464;
        font-weight: 400;
        margin: 12px 0;
        .url {
            font-size: 14px;
            font-weight: 500;
            padding: 2px 6px;
            color: #21b371;
        }
    }
}
@media only screen and (min-width: 1801px) and (max-width: 2000px) {
    .verification-wrap {
        .title {
            font-size: 14px;
        }
        .mat-form-field-flex {
            font-size: 14px;
        }
        .mat-select-value {
            // font-size: 10px;
          font-size: 14px;
        }
        button.mat-focus-indicator {
            font-size: 11px;
            padding: 0px 14px;
        }
        .aclass img {
            width: 125px;
        }
        .url-wrap {
            font-size: 12px;

        }
        .url-wrap .url {
            font-size: 11px;
            padding: 0px;

        }
        .aclass {
            margin: 12px;
        }
    }

}
@media only screen and (min-width: 1601px) and (max-width: 1800px) {
    .verification-wrap {
        .title {
            font-size: 14px;
        }
        .mat-form-field-flex {
            font-size: 14px;
        }
        .mat-select-value {
            font-size: 10px;
        }
        button.mat-focus-indicator {
            font-size: 11px;
            padding: 0px 14px;
        }
        .aclass img {
            width: 125px;
        }
        .url-wrap {
            font-size: 12px;

        }
        .url-wrap .url {
            font-size: 11px;
            padding: 0px;

        }
        .aclass {
            margin: 12px;
        }
    }

}
@media only screen and (min-width: 1441px) and (max-width: 1600px) {
    .verification-wrap {

        .title {

            font-size: 14px;

        }
        .mat-form-field-flex {
            font-size: 11px;
        }
        .mat-select-value {
            // font-size: 10px;
            font-size: 14px;
        }
        button.mat-focus-indicator {
            font-size: 11px;
            padding: 0px 14px;
        }
        .aclass img {
            width: 125px;
        }
        .url-wrap {
            font-size: 12px;

        }
        .url-wrap .url {
            font-size: 11px;
            padding: 0px;

        }
        .aclass {
            margin: 12px;
        }
    }

}
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
    .verification-wrap {

        .title {

            font-size: 14px;

        }
        .mat-form-field-flex {
            font-size: 11px;
        }
        .mat-select-value {
            // font-size: 10px;
            font-size: 14px;
        }
        button.mat-focus-indicator {
            font-size: 11px;
            padding: 0px 14px;
        }
        .aclass img {
            width: 125px;
        }
        .url-wrap {
            font-size: 12px;

        }
        .url-wrap .url {
            font-size: 11px;
            padding: 0px;

        }
        .aclass {
            margin: 12px;
        }
    }


}

@media only screen and (min-width: 1000px) and (max-width: 1280px) {
    .verification-wrap {

        .title {

            font-size: 14px;

        }
        .mat-form-field-flex {
            font-size: 11px;
            font-size: 13px;
        }
        .mat-select-value {
            font-size: 14px;
        }
        button.mat-focus-indicator {
            font-size: 11px;
            padding: 0px 14px;
        }
        .aclass img {
            width: 125px;
        }
        .url-wrap {
            font-size: 12px;

        }
        .url-wrap .url {
            font-size: 11px;
            padding: 0px;

        }
        .aclass {
            margin: 12px;
        }
    }
}


// @media only screen and (min-width: 700px) and (max-width: 1366px){
//     .verification-wrap {

//         .title {

//             font-size: 14px;

//         }
//         .mat-form-field-flex {
//             font-size: 11px;
//         }
//         .mat-select-value {
//             font-size: 10px;
//         }
//         button.mat-focus-indicator {
//             font-size: 11px;
//             padding: 0px 14px;
//         }
//         .aclass img {
//             width: 125px;
//         }
//         .url-wrap {
//             font-size: 12px;

//         }
//         .url-wrap .url {
//             font-size: 11px;
//             padding: 0px;

//         }
//         .aclass {
//             margin: 12px;
//         }
//     }

// }


// @media only screen and (min-width: 800px) and (max-width: 1536px) {
//     .verification-wrap {

//         .title {

//             font-size: 14px;

//         }
//         .mat-form-field-flex {
//             font-size: 11px;
//         }
//         .mat-select-value {
//             font-size: 10px;
//         }
//         button.mat-focus-indicator {
//             font-size: 11px;
//             padding: 0px 14px;
//         }
//         .aclass img {
//             width: 125px;
//         }
//         .url-wrap {
//             font-size: 12px;

//         }
//         .url-wrap .url {
//             font-size: 11px;
//             padding: 0px;

//         }
//         .aclass {
//             margin: 12px;
//         }
//     }

// }





@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (max-width: 479px) {

}

