<mat-toolbar>
    <span>Verification url</span>
</mat-toolbar>

<div class="verification-wrap">
    <mat-card fxFlex="30">
        <div align="center" class="title">Perform KYC by scanning the following QR</div>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
            <ngx-qrcode [elementType]="elementType" [value]="value" cssClass="aclass" errorCorrectionLevel="L">
            </ngx-qrcode>
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <div align="center" class="url-wrap">
                <div>KYC verification url:</div>
                <span class="url">{{value}}</span>
                <button mat-icon-button [cdkCopyToClipboard]="value" matTooltip="copy url" matTooltipPosition="right">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Email to</mat-label>
                <mat-icon matPrefix>alternate_email</mat-icon>
                <input #email type="email" matInput [(ngModel)]="emailValue" (keydown.enter)="send(email.value, 'mail')"
                    placeholder="e-mail id">
                <button mat-button matSuffix mat-icon-button (click)="send(email.value, 'mail')" aria-label="Send">
                    <mat-icon>send</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>SMS to</mat-label>
                <mat-icon matPrefix>textsms</mat-icon>
                <input #phone type="tel" matInput mask="(000) 000 - 0000" [(ngModel)]="smsValue"
                    (keydown.enter)="send(phone.value, 'sms')" placeholder="(000) 000 - 0000">
                <button mat-button matSuffix mat-icon-button (click)="send(phone.value, 'sms')" aria-label="Send">
                    <mat-icon>send</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </mat-card>
</div>