.forgot-wrap {
    height: -webkit-fill-available;
    // background: #edffed;
    // mat-card {
    //     background: linear-gradient(90deg, #fff 50%, #fbfbfb 50%);
    // }
    .forgot-left {
        background: #f7fffb;
        height: 100vh;
        // .app-logo {
        //     width: 140px;
        // }
        .forgot-bg {
            width: 120%;
            object-fit: contain;
        }
    }
    .forgot-right {
        padding: 20px;
        height: 100vh;
        form {
            width: 500px;
        }
        .app-logo {
            width: 200px;
            margin-bottom: 2.5em;
        }
        .form-div {
            margin-left: 14px;
        }
        .header {
            font-size: 24px;
            font-weight: 500;
            line-height: 2;
            position: relative;
            margin-bottom: 30px;
        }
        .mat-form-field {
            width: 100%;
        }
        .mat-button {
            margin: 10px 0;
            // width: 45%;
            border-radius: 8px;
            display: flex;
            justify-content: flex-end;
        }
        .powered-by-wrapper {
            position: absolute;
            bottom: 5px;
            right: 16px;
            .powered-by {
                width: 110px;
            }
        }
    }
    .mat-form-field-appearance-outline.ng-untouched {
        .mat-form-field-outline {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 0px 8px 12px -4px #c0c0c0;
            .mat-form-field-outline-start,
            .mat-form-field-outline-gap,
            .mat-form-field-outline-end {
                border: none;
            }
        }
    }
}

@media only screen and (max-width: 1366px) {
    .forgot-wrap {
        .forgot-left {
            .forgot-bg {
                width: 72%;
            }
        }
        .forgot-right {
            .app-logo {
                width: 120px;
            }
            h2 {
                font-size: 16px;
            }
            .find-acc {
                font-size: 12px;
            }
        }
    }
}

@media only screen and (min-width: 800px) and (max-width: 1536px) {
    .forgot-wrap {
        .forgot-left {
            .forgot-bg {
                width: 72%;
            }
        }
        .forgot-right {
            .app-logo {
                width: 120px;
            }
            h2 {
                font-size: 16px;
            }
            .find-acc {
                font-size: 12px;
            }
        }
    }
}

@media only screen and (max-width: 959px) {
    .forgot-right {
        padding: 40px;
    }
}