<mat-toolbar>
  <button mat-icon-button [routerLink]="['/documents']">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Document Details</span>
</mat-toolbar>
<div class="doc-details-wrap">
  <mat-accordion>
    <mat-expansion-panel class="top-panel" expanded>
      <mat-expansion-panel-header fxLayout="row">
        <mat-panel-title fxLayoutAlign="start center">
          <div class="exp-header-data">
            <div class="title">Document ID:</div>
            <div class="value">
              {{ document.Document_ID }}
            </div>
          </div>
        </mat-panel-title>
        <mat-panel-description
          fxLayout="row"
          fxLayoutAlign="space-between center"
        >
          <div class="exp-header-data">
            <div class="title">Document Date:</div>
            <div class="value">
              {{ document.Document_Date | date: "shortDate" }}
            </div>
          </div>
          <button mat-icon-button (click)="shareDoc($event)">
            <mat-icon>share</mat-icon>
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="panel-body" fxLayout="row wrap" fxLayoutAlign="start start">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center">
          <div class="user-image">
            <img
              src="photo-matching-img"
              src="https://firebasestorage.googleapis.com/v0/b/flexverify.appspot.com/o{{
                scanDocument[0]?.Selfie_Photo
              }}?alt=media"
            />
          </div>
        </div>
        <div
          fxFlex="85"
          fxLayout="row wrap"
          fxLayoutAlign="space-between start"
        >
          <div
            fxFlex.gt-md="25"
            fxFlex.md="50"
            fxFlex.lt-md="50"
            fxFlex.lt-sm="100"
            fxFlex
            class="data-wrap"
          >
            <div class="title">First Name</div>
            <div class="value">
              {{ document.First_Name }}
            </div>
          </div>
          <div
            fxFlex.gt-md="25"
            fxFlex.md="50"
            fxFlex.lt-md="50"
            fxFlex.lt-sm="100"
            fxFlex
            class="data-wrap"
          >
            <div class="title">Nationality</div>
            <div class="value">
              {{ document.Nationality }}
            </div>
          </div>
          <div
            fxFlex.gt-md="25"
            fxFlex.md="50"
            fxFlex.lt-md="50"
            fxFlex.lt-sm="100"
            fxFlex
            class="data-wrap"
          >
            <div class="title">Last Name</div>
            <div class="value">
              {{ document.Last_Name }}
            </div>
          </div>
          <div
            fxFlex.gt-md="25"
            fxFlex.md="50"
            fxFlex.lt-md="50"
            fxFlex.lt-sm="100"
            fxFlex
            class="data-wrap"
          >
            <div class="title">DOB</div>
            <div class="value">
              {{ document.DOB | date: "shortDate" }}
            </div>
          </div>
          <div
            fxFlex.gt-md="25"
            fxFlex.md="50"
            fxFlex.lt-md="50"
            fxFlex.lt-sm="100"
            fxFlex
            class="data-wrap"
          >
            <div class="title">Buliding No</div>
            <div class="value">
              {{ document.Building_No }}
            </div>
          </div>
          <div
            fxFlex.gt-md="25"
            fxFlex.md="50"
            fxFlex.lt-md="50"
            fxFlex.lt-sm="100"
            fxFlex
            class="data-wrap"
          >
            <div class="title">Street Name</div>
            <div class="value">
              {{ document.Street_Name }}
            </div>
          </div>
          <div
            fxFlex.gt-md="25"
            fxFlex.md="50"
            fxFlex.lt-md="50"
            fxFlex.lt-sm="100"
            fxFlex
            class="data-wrap"
          >
            <div class="title">City</div>
            <div class="value">
              {{ document.City }}
            </div>
          </div>
          <div
            fxFlex.gt-md="25"
            fxFlex.md="50"
            fxFlex.lt-md="50"
            fxFlex.lt-sm="100"
            fxFlex
            class="data-wrap"
          >
            <div class="title">Postal Code</div>
            <div class="value">
              {{ document.postalcode }}
            </div>
          </div>
          <div
            fxFlex.gt-md="25"
            fxFlex.md="50"
            fxFlex.lt-md="50"
            fxFlex.lt-sm="100"
            fxFlex
            class="data-wrap"
          >
            <div class="title">Mode</div>
            <div class="value">
              {{ document.Mode }}
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <!-- actual list to be added here instead of [1,2,3] -->

    <!-- *ngfor="let scanDocument of scanDocuments" -->
    <!-- <mat-expansion-panel
      [expanded]="isFirst"
      *ngFor="let doc of scanDocument; let isFirst = first"
    > -->
    <!-- formArrayName="formArray"
      *ngFor="let doc of formArray.controls; let isFirst = first"
      [formGroupName]="isFirst" -->
    <mat-expansion-panel
      [expanded]="isFirst"
      *ngFor="let doc of scanDocument; let isFirst = first; let i=index"
    >
      <mat-expansion-panel-header>
        <mat-panel-title fxLayoutAlign="start center">
          <div class="exp-header-data">
            <div class="title">Scan ID:</div>
            <div class="value">
              {{ doc.Scan_ID }}
            </div>
          </div>
        </mat-panel-title>
        <mat-panel-description
          fxLayout="row"
          fxLayoutAlign="space-between center"
        >
          <div class="exp-header-data">
            <div class="title">Scan Date:</div>
            <div class="value">
              {{ doc.Scaned_Date | date: "mediumDate" }}
            </div>
          </div>
          <button mat-icon-button (click)="shareDoc($event)">
            <mat-icon>content_copy</mat-icon>
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form
        class="panel-body"
        (ngSubmit)="onSave(heroForm, doc._id)"
        #heroForm="ngForm"
        fxLayout="row wrap"
        fxLayoutAlign="space-between start"
        fxLayoutGap="20px"
      >
        <div fxFlex fxLayout="column" fxLayoutAlign="space-between start">
          <mat-form-field appearance="outline" fxFill>
            <mat-label>Id type</mat-label>
            <mat-select
              name="ID_Type"
              [disabled]="disabled"
              [(ngModel)]="doc.ID_Type"
              (selectionChange)="SelectIdType($event)"
            >
              <mat-option
                *ngFor="let type of documentIdType"
                [value]="type.value"
                >{{ type.value }}</mat-option
              >
              <!-- <mat-option value="passport">Passport</mat-option>
              <mat-option value="voterId">Voter ID</mat-option> -->
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFill>
            <mat-label>Id number</mat-label>
            <input
              matInput
              [disabled]="disabled"
              placeholder="Id #"
              name="idCardNo"
              [(ngModel)]="doc.idCardNo"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" fxFill>
            <mat-label>First name</mat-label>
            <!--  -->
            <input
              matInput
              [disabled]="disabled"
              placeholder="First name"
              name="firstName"
              [(ngModel)]="doc.firstName"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" fxFill>
            <mat-label>Last Name</mat-label>
            <input
              matInput
              [disabled]="disabled"
              placeholder="Last name"
              name="lastName"
              [(ngModel)]="doc.lastName"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" fxFill>
            <mat-label>Date of birth</mat-label>

            <!-- (dateChange)="selectDate($event)" -->
            <input
              matInput
              [matDatepicker]="dobPicker"
              placeholder="Date of birth"
              name="dob"
              [(ngModel)]="doc.dob"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dobPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #dobPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFill>
            <mat-label>Street name</mat-label>
            <input
              matInput
              [disabled]="disabled"
              placeholder="Street Name"
              name="streetName"
              [(ngModel)]="doc.streetName"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" fxFill>
            <mat-label>City</mat-label>
            <input
              matInput
              [disabled]="disabled"
              placeholder="City"
              name="city"
              [(ngModel)]="doc.city"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" fxFill>
            <mat-label>Postal code</mat-label>
            <input
              matInput
              [disabled]="disabled"
              placeholder="Postal Code"
              name="postalCode"
              [(ngModel)]="doc.postalCode"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" fxFill>
            <mat-label>Id expiry</mat-label>
            <input
              matInput
              [disabled]="disabled"
              [matDatepicker]="idExpirypicker"
              placeholder="Id Expiry"
              name="idExpiryDate"
              [(ngModel)]="doc.idExpiryDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="idExpirypicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #idExpirypicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFill>
            <mat-label>User id</mat-label>
            <input
              matInput
              [disabled]="disabled"
              placeholder="User id"
              name="firstName"
              [(ngModel)]="doc.firstName"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" fxFill>
            <mat-label>Mode</mat-label>
            <input
              matInput
              [disabled]="disabled"
              placeholder="Mode"
              name="Mode"
              [(ngModel)]="doc.Mode"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" fxFill>
            <mat-label>Updated date</mat-label>
            <input
              matInput
              [disabled]="disabled"
              [matDatepicker]="updatedDatepicker"
              placeholder="Update date"
              name="updateDate"
              [(ngModel)]="doc.updatedDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="updatedDatepicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #updatedDatepicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex
          fxFlex.gt-md="75"
          fxFlex.md="100"
          fxFlex.lt-md="100"
          fxFlex.lt-sm="100"
          fxLayout="column"
          fxLayoutAlign="space-between start"
        >
          <div fxFill>
            <owl-carousel-o [options]="customOptions">
              <ng-container>
                <ng-template class="slide" carouselSlide>
                  <img
                    class="slide-image-large"
                    src="https://firebasestorage.googleapis.com/v0/b/flexverify.appspot.com/o{{
                      doc.ID_Card_Front
                    }}?alt=media"
                  />
                </ng-template>
              </ng-container>
              <ng-container>
                <ng-template class="slide" carouselSlide>
                  <img
                    class="slide-image-large"
                    src="https://firebasestorage.googleapis.com/v0/b/flexverify.appspot.com/o{{
                      doc.ID_Card_Back
                    }}?alt=media"
                  />
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
          <div
            fxLayout="row"
            fxLayout.lt-md="column"
            fxLayoutGap="30px"
            class="bottom-fix"
          >
            <div fxFlex="300px">
              <img
                class="photo-matching-img"
                src="https://firebasestorage.googleapis.com/v0/b/flexverify.appspot.com/o{{
                  doc?.Selfie_Photo
                }}?alt=media"
              />
              <div class="matching-wrap">
                <mat-icon>check_circle</mat-icon>
                Matching:
                <span class="matching-value">
                  <!--dummy-->
                  70%</span
                >
              </div>
            </div>
            <!-- fxFill -->
            <div fxFlex="300px">
              <owl-carousel-o [options]="livelinessOptions">
                <ng-container>
                  <ng-template
                    class="slide"
                    carouselSlide
                    *ngFor="let i of doc.LiveCheck_Photos"
                  >
                    <img
                      class="slide-image-small"
                      src="https://firebasestorage.googleapis.com/v0/b/flexverify.appspot.com/o{{
                        i
                      }}?alt=media"
                    />
                  </ng-template>
                </ng-container>
                <!-- <ng-container>
                  <ng-template class="slide" carouselSlide>
                    <img
                      class="slide-image-small"
                      src="./../../assets/login.svg"
                    />
                  </ng-template>
                </ng-container> -->
              </owl-carousel-o>
            </div>
          </div>
        </div>
        <div fxFlex="100">
          <div>
            <div class="section-header">Scan Results</div>
            <div
              fxLayout="row wrap"
              fxLayoutAlign="space-between start"
              class="alignment-fix"
            >
              <mat-form-field
                appearance="outline"
                class="field-wrap"
                fxFlex.gt-md="25"
                fxFlex.md="50"
                fxFlex.lt-md="50"
                fxFlex.lt-sm="100"
                fxFlex
              >
                <mat-label>Id card front</mat-label>
                <mat-select
                  [disabled]="disabled"
                  name="idCardFrontStatus"
                  [(ngModel)]="doc.idCardFrontStatus"
                  (selectionChange)="selectIdFront($event)"
                >
                  <mat-option
                    [value]="type.value"
                    *ngFor="let type of idCardForntType"
                    >{{ type.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                class="field-wrap"
                fxFlex.gt-md="25"
                fxFlex.md="50"
                fxFlex.lt-md="50"
                fxFlex.lt-sm="100"
                fxFlex
              >
                <mat-label>Id card back</mat-label>
                <mat-select
                  name="idCardBackStatus"
                  [disabled]="disabled"
                  [(ngModel)]="doc.idCardBackStatus"
                  (selectionChange)="selectIdBack($event)"
                >
                  <mat-option
                    [value]="type.value"
                    *ngFor="let type of idCardBackType"
                    >{{ type.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                class="field-wrap"
                fxFlex.gt-md="25"
                fxFlex.md="50"
                fxFlex.lt-md="50"
                fxFlex.lt-sm="100"
                fxFlex
              >
                <mat-label>Selfie photo matching</mat-label>
                <input
                  matInput
                  [disabled]="disabled"
                  placeholder="%"
                  [readonly]="disabled"
                  name="selfiePhotoMatchStatus"
                  [(ngModel)]="doc.selfiePhotoMatchStatus"
                />
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                class="field-wrap"
                fxFlex.gt-md="25"
                fxFlex.md="50"
                fxFlex.lt-md="50"
                fxFlex.lt-sm="100"
                fxFlex
              >
                <mat-label>Live Check</mat-label>
                <mat-select
                  name="liveCheckingStatus"
                  [disabled]="disabled"
                  [(ngModel)]="doc.liveCheckingStatus"
                  (selectionChange)="selectLiveCheck($event)"
                >
                  <mat-option
                    [value]="type.value"
                    *ngFor="let type of liveCheckType"
                    >{{ type.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                class="field-wrap"
                fxFlex.gt-md="25"
                fxFlex.md="50"
                fxFlex.lt-md="50"
                fxFlex.lt-sm="100"
                fxFlex
              >
                <mat-label>Scan result</mat-label>
                <mat-select
                  name="scanResultStatus"
                  [disabled]="disabled"
                  [(ngModel)]="doc.scanResultStatus"
                  (selectionChange)="selectResultType($event)"
                >
                  <mat-option
                    [value]="type.value"
                    *ngFor="let type of scanResultType"
                    >{{ type.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                class="field-wrap"
                fxFlex.gt-md="75"
                fxFlex.lt-md="50"
                fxFlex
              >
                <mat-label>Reason</mat-label>
                <textarea
                  [readonly]="disabled"
                  [disabled]="disabled"
                  matInput
                  placeholder="reason"
                  name="reason"
                  [(ngModel)]="doc.reason"
                  rows="3"
                ></textarea>
              </mat-form-field>
              <div
                fxFlex="100"
                class="button-bar"
                fxLayout="row wrap"
                fxLayoutAlign="center center"
              >
                <button mat-stroked-button type="button" (click)="clear()">
                  cancel
                </button>
                <button [disabled]="((doc.scanResultStatus == 'Incomplete') ||(doc.scanResultStatus =='Rejected') || (doc.scanResultStatus =='Verified'))? true: false " mat-button class="primary-button" type="submit">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="100">
          <div>
            <div class="section-header">Comments</div>
            <div fxLayout="row wrap" fxLayoutAlign="space-between start" >
              <mat-form-field
                appearance="outline"
                class="field-wrap alignment-fix"
                fxFlex="100"
              >
                <mat-label>Comment</mat-label>
                <!-- [type]="passwordVisible ? 'text' : 'password'" -->
                <textarea matInput placeholder="reason" name="comments" [(ngModel)] ='comments[i]'  rows="3"></textarea>
                <button
                  matSuffix
                  mat-icon-button
                  class="primary-button"

                  aria-label="Send" type="button"
                >
                  <mat-icon  (click)="sendComment(doc._id)">send</mat-icon>
                </button>
              </mat-form-field>
              <div *ngIf="commentsData.length>0">
                <div></div>
                <div fxFlex="100" fxFlex class="comments-wrap" *ngFor="let comment of commentsData" >
                  <div  *ngIf="doc._id == comment.id">
                     <div class="comment"  *ngFor="let j of comment.data">
                  <div class="commented-by">
                    {{j.username}}
                  </div>
                  <div class="commented-date">
                    Commented on:
                    <span>
                     {{j.createdAt | date: "dd/mm/yyyy HH:mm:ss"}}
                    </span>
                  </div>
                  <div class="value">
                    <!--dummy-->
                    {{j.text}}
                  </div>
                </div>
                  </div>

                <!-- <div class="comment">
                  <div class="commented-by">

                    Ravi Verma:
                  </div>
                  <div class="commented-date">
                    Commented on:
                    <span>
                      13/07/2020
                    </span>
                  </div>
                  <div class="value">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Accusamus ea, vero nulla, aspernatur fugiat facere fugit
                    beatae et ratione nemo obcaecati accusantium id ut neque
                    aliquid quae fuga natus quis.
                  </div>
                </div> -->
              </div>
              </div>

            </div>
          </div>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>
