<mat-toolbar>
  <span>Settings</span>
</mat-toolbar>
<div class="settings-wrap">
  <div class="tiles-wrap" fxLayout="row wrap" fxLayoutAlign="start start">
    <mat-card class="tile cursor-pointer" [routerLink]="['/flexm-user']" fxLayout="column" fxLayoutAlign="end center">
      <i class="material-icons fs-40">people_outline</i>
      <div class="title">User</div>
    </mat-card>
    <mat-card class="tile cursor-pointer" [routerLink]="['/flexm-tenent']" *ngIf="accessType =='1'" fxLayout="column" fxLayoutAlign="end center">
      <i class="material-icons fs-40">account_balance</i>
      <div class="title">Tenent</div>
    </mat-card>
    <mat-card class="tile cursor-pointer" [routerLink]="['/api-keys']" fxLayout="column" fxLayoutAlign="end center">
      <i class="material-icons fs-40">api</i>
      <div class="title">API keys</div>
    </mat-card>
    <mat-card class="tile cursor-pointer" [routerLink]="['/web-hook']" *ngIf="accessType === '1'"  fxLayout="column" fxLayoutAlign="end center">
      <i class="material-icons fs-40">checkroom</i>
      <div class="title">Webhooks</div>
    </mat-card>
    <mat-card class="tile cursor-pointer" [routerLink]="['/notification']" fxLayout="column" fxLayoutAlign="end center">
      <i class="material-icons fs-40">notifications_none</i>
      <div class="title">Notification</div>
    </mat-card>
    <mat-card class="tile cursor-pointer" [routerLink]="['/developer-page']" fxLayout="column" fxLayoutAlign="end center">
      <i class="material-icons fs-40">developer_mode</i>
      <div class="title">Developer</div>
    </mat-card>
    <mat-card class="tile cursor-pointer text-center" [routerLink]="['/document-config']" *ngIf="accessType === '1'" fxLayout="column" fxLayoutAlign="end center">
      <i class="material-icons fs-40">
        <!-- document -->
        <img src="./../../assets/tenent-setting.svg" class="text-center" height="40px" width="40px">

      </i>
      <div class="title">Document <br> Setting</div>
    </mat-card>
  </div>
</div>
