<mat-toolbar>
    <span>Settings</span>
</mat-toolbar>

<div class="settings-wrap">
    <div class="tiles-wrap" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="space-evenly center">
        <div class="tile organization">
            <mat-card class="header" fxLayout="column" fxLayoutAlign="center center">
                <div class="icon">
                    <mat-icon>groups</mat-icon>
                </div>
                <div class="title">Organization</div>
            </mat-card>
            <!-- <div class="body" fxLayout="column" fxLayoutAlign="center center">
                <div class="title">Today Verfication</div>
            </div> -->
        </div>
        <div class="tile api">
            <mat-card class="header" fxLayout="column" fxLayoutAlign="center center" [routerLink]="['/api-keys']">
                <div class="icon">
                    <mat-icon>api</mat-icon>
                </div>
                <div class="title">API keys</div>
            </mat-card>
            <!-- <div class="body" fxLayout="column" fxLayoutAlign="center center">
                <div class="title">Month Verfication</div>
            </div> -->
        </div>
        <div class="tile webhooks">
            <mat-card class="header" fxLayout="column" fxLayoutAlign="center center">
                <div class="icon">
                    <mat-icon>checkroom</mat-icon>
                </div>
                <div class="title">Webhooks</div>
            </mat-card>
            <!-- <div class="body" fxLayout="column" fxLayoutAlign="center center">
                <div class="title">Balance SMS</div>
            </div> -->
        </div>
    </div>
</div>